{
    "environment": "dev_or_prod",
    "host": "host",
    "url": "url",
    "dbconfig": {
        "host": "db_host",
        "port": "5432",
        "dbname": "db",
        "username": "username",
        "password": "password"
    }
}