{
    "environment": "dev_or_prod",
    "host": "host",
    "url": "url",
    "dbconfig": {
        "host": "db_host",
        "port": "5432",
        "dbname": "db",
        "username": "username",
        "password": "password"
    },
    "sitemaplocation": "sitemap_location",
    "user": {
        "username": "username",
        "password": "password"
    },
    "imagesprefix": "/static/images"
}